.post {
    padding: 25px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;

    .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
}